.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    border: 0 !important;
}

.form-input,
button {
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.1em;
}

.form-input {
    width: 100%;
    background: #e6e6e6;
    color: #333;
    letter-spacing: 0.5px;
    padding: 14px 64px;
}

.form-input~svg {
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    transition: color 0.4s;
}

.form-input:focus~svg>path {
    color: #843bc7;
}

button.form-submit {
    color: #fff;
    padding: 14px 64px;
    margin: 20px auto;

    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    background-image: linear-gradient(to right, #8b33c5, #15a0e1);
    cursor: pointer;
    transition: opacity 0.4s;
}

button.form-submit:hover {
    opacity: 0.9;
}
