#workspace {
    /* margin: 100px; */
    padding: 18px;
    border: solid 2px black;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    grid-area: workspace;

    width: 90%;
    height: 90%;
}