@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #303433;
}
.projectsBg {
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("/src/assets/img/classroom.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.background-image{
  background:rgba(0,0,0,0.65)url('E:\Locus\AidSys-Front-End\src\assets\img\classroompic.jpg');
  /* background-image: url('E:\Locus\AidSys-Front-End\src\assets\img\rating.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  height: 100vh;
}
.btn{
  position: absolute;
  transform: translate(-50,-50);
  top: 50%;
  left: 50%;
}
#graduate{
  position: absolute;
  transform: translate(-50,-50);
  top: 20%;
  left: 48.5%;
  height: 200px;
}
.motto{
  position: absolute;
  bottom: 0;
background: #3A67E4;
background: -webkit-linear-gradient(left, #3A67E4, #7541D1);
background: -moz-linear-gradient(left, #3A67E4, #7541D1);
background: linear-gradient(to right, #3A67E4, #7541D1);
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}